Repository ThreeMammals/Ocelot, pull requests merged in 2023-12, with the labels that each got.

#1834 #1833 Default timeout(90s) of downstream requests is broken
  src/Ocelot/Configuration/File/FileQoSOptions.cs
  test/Ocelot.AcceptanceTests/PollyQoSTests.cs
  test/Ocelot.AcceptanceTests/ReturnsErrorTests.cs
  test/Ocelot.UnitTests/Configuration/FileModels/FileQoSOptionsTests.cs
  test/Ocelot.UnitTests/Requester/HttpClientBuilderTests.cs
Labels: bug, hotfix, QoS

#1847 Release 22.0.1
  ReleaseNotes.md
  build.cake
  src/Ocelot/Configuration/File/FileQoSOptions.cs
  test/Ocelot.AcceptanceTests/PollyQoSTests.cs
  test/Ocelot.AcceptanceTests/ReturnsErrorTests.cs
  test/Ocelot.UnitTests/Configuration/FileModels/FileQoSOptionsTests.cs
  test/Ocelot.UnitTests/Requester/HttpClientBuilderTests.cs
Labels: release, hotfix

#1846 #649 Acceptance tests
  test/Ocelot.AcceptanceTests/RoutingTests.cs
Labels: bug

#1724 #827 #1679 Improve performance of Request Mapper
  docs/introduction/gotchas.rst
  docs/introduction/notsupported.rst
  src/Ocelot/Request/Mapper/IRequestMapper.cs
  src/Ocelot/Request/Mapper/RequestMapper.cs
  src/Ocelot/Request/Mapper/StreamHttpContent.cs
  src/Ocelot/Request/Middleware/DownstreamRequestInitialiserMiddleware.cs
  src/Ocelot/Requester/HttpClientWrapper.cs
  test/Ocelot.AcceptanceTests/ContentTests.cs
  test/Ocelot.AcceptanceTests/PollyQoSTests.cs
  test/Ocelot.Benchmarks/Ocelot.Benchmarks.csproj
  test/Ocelot.Benchmarks/PayloadBenchmarks.cs
  test/Ocelot.Benchmarks/Program.cs
  test/Ocelot.UnitTests/Request/DownstreamRequestInitialiserMiddlewareTests.cs
  test/Ocelot.UnitTests/Request/Mapper/RequestMapperTests.cs
  test/Ocelot.UnitTests/Request/Mapper/StreamHttpContentTests.cs
Labels: proposal, Nov'23

#1849 #1172 Default CacheKeyGenerator
  docs/features/caching.rst
  src/Ocelot.Cache.CacheManager/OcelotBuilderExtensions.cs
  src/Ocelot/Cache/CacheKeyGenerator.cs
  src/Ocelot/Cache/DefaultCacheKeyGenerator.cs
  src/Ocelot/Cache/ICacheKeyGenerator.cs
  src/Ocelot/Cache/Middleware/OutputCacheMiddleware.cs
  src/Ocelot/Configuration/CacheOptions.cs
  src/Ocelot/Configuration/Creator/RoutesCreator.cs
  src/Ocelot/Configuration/File/FileCacheOptions.cs
  src/Ocelot/DependencyInjection/OcelotBuilder.cs
  src/Ocelot/Request/Middleware/DownstreamRequest.cs
  src/Ocelot/RequestId/Middleware/RequestIdMiddleware.cs
  test/Ocelot.AcceptanceTests/Caching/CachingTests.cs
  test/Ocelot.AcceptanceTests/Caching/HttpClientCachingTests.cs
  test/Ocelot.AcceptanceTests/CachingTests.cs
  test/Ocelot.AcceptanceTests/HttpClientCachingTests.cs
  test/Ocelot.UnitTests/Cache/CacheKeyGeneratorTests.cs
  test/Ocelot.UnitTests/Cache/DefaultCacheKeyGeneratorTests.cs
  test/Ocelot.UnitTests/Cache/OutputCacheMiddlewareTests.cs
  test/Ocelot.UnitTests/CacheManager/OutputCacheMiddlewareRealCacheTests.cs
Labels: feature, Caching, Nov'23

#1853 #1724 Reverting back HttpClient full buffering
  src/Ocelot/Requester/HttpClientWrapper.cs
Labels: Nov'23
