Repository ThreeMammals/Ocelot, pull requests merged in 2023-11, with the labels that each got.

#1182 #952 #1174 Merge query strings without duplicate values
  docs/features/routing.rst
  src/Ocelot/DependencyInjection/OcelotBuilder.cs
  src/Ocelot/DownstreamUrlCreator/DownstreamPathPlaceholderReplacer.cs
  src/Ocelot/DownstreamUrlCreator/IDownstreamPathPlaceholderReplacer.cs
  src/Ocelot/DownstreamUrlCreator/Middleware/DownstreamUrlCreatorMiddleware.cs
  test/Ocelot.AcceptanceTests/RoutingWithQueryStringTests.cs
  test/Ocelot.UnitTests/DownstreamUrlCreator/DownstreamPathPlaceholderReplacerTests.cs
  test/Ocelot.UnitTests/DownstreamUrlCreator/DownstreamUrlCreatorMiddlewareTests.cs
Labels: bug, needs feedback

#1753 #1550 #1706 Addressing the QoS options ExceptionsAllowedBeforeBreaking issue
  .gitignore
  src/Ocelot.Provider.Polly/CircuitBreaker.cs
  src/Ocelot.Provider.Polly/Interfaces/IPollyQoSProvider.cs
  src/Ocelot.Provider.Polly/OcelotBuilderExtensions.cs
  src/Ocelot.Provider.Polly/PollyCircuitBreakingDelegatingHandler.cs
  src/Ocelot.Provider.Polly/PollyPoliciesDelegatingHandler.cs
  src/Ocelot.Provider.Polly/PollyPolicyWrapper.cs
  src/Ocelot.Provider.Polly/PollyQoSProvider.cs
  src/Ocelot/Configuration/File/FileAuthenticationOptions.cs
  src/Ocelot/Configuration/File/FileCacheOptions.cs
  src/Ocelot/Configuration/File/FileHostAndPort.cs
  src/Ocelot/Configuration/File/FileHttpHandlerOptions.cs
  src/Ocelot/Configuration/File/FileLoadBalancerOptions.cs
  src/Ocelot/Configuration/File/FileQoSOptions.cs
  src/Ocelot/Configuration/File/FileRateLimitRule.cs
  src/Ocelot/Configuration/File/FileRoute.cs
  src/Ocelot/Configuration/File/FileSecurityOptions.cs
  src/Ocelot/Configuration/QoSOptions.cs
  src/Ocelot/Requester/HttpExceptionToErrorMapper.cs
  src/Ocelot/Requester/QoS/QosFactory.cs
  src/Ocelot/Requester/QosDelegatingHandlerDelegate.cs
  test/Ocelot.AcceptanceTests/PollyQoSTests.cs
  test/Ocelot.AcceptanceTests/ReturnsErrorTests.cs
  test/Ocelot.AcceptanceTests/Steps.cs
  test/Ocelot.ManualTest/Program.cs
  test/Ocelot.UnitTests/Configuration/Validation/FileConfigurationFluentValidatorTests.cs
  test/Ocelot.UnitTests/Configuration/Validation/FileQoSOptionsFluentValidatorTests.cs
  test/Ocelot.UnitTests/Polly/OcelotBuilderExtensionsTests.cs
  test/Ocelot.UnitTests/Polly/PollyCircuitBreakingDelegatingHandlerTests.cs
  test/Ocelot.UnitTests/Polly/PollyPoliciesDelegatingHandlerTests.cs
  test/Ocelot.UnitTests/Polly/PollyQoSProviderTests.cs
  test/Ocelot.UnitTests/Requester/DelegatingHandlerHandlerProviderFactoryTests.cs
  test/Ocelot.UnitTests/Requester/QoSFactoryTests.cs
Labels: bug, QoS

#1180 #1179 Add missing documentation for Secured WebSocket
  docs/features/configuration.rst
  docs/features/websockets.rst
Labels: accepted, documentation

#1792 .NET8 Release artifacts
  .gitignore
  LICENSE.md
  README.md
  ReleaseNotes.md
  build.cake
  docs/building/building.rst
  docs/building/releaseprocess.rst
  docs/conf.py
  docs/features/configuration.rst
  docs/features/dependencyinjection.rst
  docs/features/logging.rst
  docs/features/middlewareinjection.rst
  docs/features/ratelimiting.rst
  docs/features/websockets.rst
  docs/index.rst
  docs/introduction/gettingstarted.rst
  docs/introduction/gotchas.rst
Labels: release

#1786 #1783 Less logs for circuit breakers (Polly exceptions)
  src/Ocelot.Provider.Polly/OcelotBuilderExtensions.cs
  src/Ocelot.Provider.Polly/PollyPoliciesDelegatingHandler.cs
  src/Ocelot.Provider.Polly/PollyPolicyWrapper.cs
  test/Ocelot.AcceptanceTests/PollyQoSTests.cs
  test/Ocelot.Testing/PortFinder.cs
  test/Ocelot.UnitTests/Configuration/Validation/RouteFluentValidatorTests.cs
  test/Ocelot.UnitTests/Ocelot.UnitTests.csproj
Labels: accepted, QoS, Oct'23

#1809 Sync 'develop' to 'release/22.0'
  ReleaseNotes.md
  build.cake
  docs/conf.py
  docs/features/logging.rst
  docs/index.rst
Labels: gitflow
