Repository ThreeMammals/Ocelot, pull requests merged in 2023-10, with the labels that each got.

#1711 Follow up #1670: Fix StyleCop issues and improve the code
  samples/OcelotServiceDiscovery/ApiGateway/ServiceDiscovery/MyServiceDiscoveryProvider.cs
  src/Ocelot.Provider.Consul/Consul.cs
  src/Ocelot.Provider.Consul/ConsulClientFactory.cs
  src/Ocelot.Provider.Consul/ConsulFileConfigurationRepository.cs
  src/Ocelot.Provider.Consul/ConsulMiddlewareConfigurationProvider.cs
  src/Ocelot.Provider.Consul/ConsulProviderFactory.cs
  src/Ocelot.Provider.Consul/ConsulRegistryConfiguration.cs
  src/Ocelot.Provider.Consul/OcelotBuilderExtensions.cs
  src/Ocelot.Provider.Consul/PollConsul.cs
  src/Ocelot.Provider.Consul/UnableToSetConfigInConsulError.cs
  src/Ocelot.Provider.Consul/Usings.cs
  src/Ocelot.Provider.Eureka/Eureka.cs
  src/Ocelot.Provider.Eureka/EurekaProviderFactory.cs
  src/Ocelot.Provider.Eureka/OcelotBuilderExtensions.cs
  src/Ocelot.Provider.Kubernetes/EndPointClientV1.cs
  src/Ocelot.Provider.Kubernetes/KubeRegistryConfiguration.cs
  src/Ocelot.Provider.Kubernetes/KubernetesProviderFactory.cs
  src/Ocelot.Provider.Kubernetes/KubernetesServiceDiscoveryProvider.cs
  src/Ocelot.Provider.Kubernetes/OcelotBuilderExtensions.cs
  src/Ocelot.Provider.Kubernetes/PollKube.cs
  src/Ocelot/LoadBalancer/LoadBalancers/CookieStickySessionsCreator.cs
  src/Ocelot/LoadBalancer/LoadBalancers/LeastConnectionCreator.cs
  src/Ocelot/LoadBalancer/LoadBalancers/NoLoadBalancerCreator.cs
  src/Ocelot/LoadBalancer/LoadBalancers/RoundRobinCreator.cs
  src/Ocelot/ServiceDiscovery/Providers/ConfigurationServiceProvider.cs
  src/Ocelot/ServiceDiscovery/Providers/IServiceDiscoveryProvider.cs
  src/Ocelot/ServiceDiscovery/Providers/ServiceFabricServiceDiscoveryProvider.cs
  src/Ocelot/ServiceDiscovery/ServiceDiscoveryProviderFactory.cs
  test/Ocelot.AcceptanceTests/LoadBalancerTests.cs
  test/Ocelot.AcceptanceTests/SequentialTestsCollection.cs
  test/Ocelot.UnitTests/Configuration/Validation/FileConfigurationFluentValidatorTests.cs
  test/Ocelot.UnitTests/Consul/AgentServiceExtensions.cs
  test/Ocelot.UnitTests/Consul/ConsulServiceDiscoveryProviderTests.cs
  test/Ocelot.UnitTests/Consul/PollingConsulServiceDiscoveryProviderTests.cs
  test/Ocelot.UnitTests/Consul/ProviderFactoryTests.cs
  test/Ocelot.UnitTests/Eureka/EurekaProviderFactoryTests.cs
  test/Ocelot.UnitTests/Eureka/EurekaServiceDiscoveryProviderTests.cs
  test/Ocelot.UnitTests/Kubernetes/KubeServiceDiscoveryProviderTests.cs
  test/Ocelot.UnitTests/Kubernetes/PollingKubeServiceDiscoveryProviderTests.cs
  test/Ocelot.UnitTests/ServiceDiscovery/ConfigurationServiceProviderTests.cs
  test/Ocelot.UnitTests/ServiceDiscovery/ServiceDiscoveryProviderFactoryTests.cs
  test/Ocelot.UnitTests/ServiceDiscovery/ServiceFabricServiceDiscoveryProviderTests.cs
Labels: good first issue, proposal, Service Discovery

#1716 A brand new Release Notes feature for Releases being made by 'build.cake' script
  Ocelot.sln
  ReleaseNotes.md
  build.cake
  releasenotes.md
Labels: feature, release

#1720 Release 20.0
  ReleaseNotes.md
  build.cake
Labels: release

#1722 Sync develop to release/20.0
  ReleaseNotes.md
  build.cake
Labels: gitflow

#1714 #1712 Bump to Polly 8.0
  src/Ocelot.Provider.Polly/CircuitBreaker.cs
  src/Ocelot.Provider.Polly/Ocelot.Provider.Polly.csproj
  src/Ocelot.Provider.Polly/OcelotBuilderExtensions.cs
  src/Ocelot.Provider.Polly/PollyCircuitBreakingDelegatingHandler.cs
  src/Ocelot.Provider.Polly/PollyQoSProvider.cs
  src/Ocelot.Provider.Polly/Usings.cs
  test/Ocelot.UnitTests/Ocelot.UnitTests.csproj
  test/Ocelot.UnitTests/Polly/PollyQoSProviderTests.cs
Labels: feature

#1733 #1731 Read the Docs configuration file v2
  .readthedocs.yaml
  Ocelot.sln
  docs/Makefile
  docs/autobuild.bat
  docs/building/releaseprocess.rst
  docs/conf.py
  docs/favicon.ico
  docs/features/authentication.rst
  docs/features/claimstransformation.rst
  docs/features/kubernetes.rst
  docs/features/loadbalancer.rst
  docs/features/websockets.rst
  docs/make.bat
  docs/make.sh
  docs/requirements.txt
Labels: documentation, hotfix

#1172 Cache by header value: a new Header property in (File)CacheOptions configuration of a route
  docs/features/caching.rst
  src/Ocelot/Cache/CacheKeyGenerator.cs
  src/Ocelot/Cache/ICacheKeyGenerator.cs
  src/Ocelot/Cache/Middleware/OutputCacheMiddleware.cs
  src/Ocelot/Configuration/CacheOptions.cs
  src/Ocelot/Configuration/Creator/RoutesCreator.cs
  src/Ocelot/Configuration/File/FileCacheOptions.cs
  src/Ocelot/Request/Middleware/DownstreamRequest.cs
  src/Ocelot/RequestId/Middleware/RequestIdMiddleware.cs
  test/Ocelot.UnitTests/Cache/CacheKeyGeneratorTests.cs
  test/Ocelot.UnitTests/Cache/OutputCacheMiddlewareTests.cs
  test/Ocelot.UnitTests/CacheManager/OutputCacheMiddlewareRealCacheTests.cs
Labels: feature, accepted, Caching

#1754 #1731 Docs for 20.0 release
  README.md
  docs/building/building.rst
  docs/building/overview.rst
  docs/building/releaseprocess.rst
  docs/building/tests.rst
  docs/conf.py
  docs/features/administration.rst
  docs/features/authentication.rst
  docs/features/authorization.rst
  docs/features/caching.rst
  docs/features/claimstransformation.rst
  docs/features/configuration.rst
  docs/features/delegatinghandlers.rst
  docs/features/dependencyinjection.rst
  docs/features/errorcodes.rst
  docs/features/graphql.rst
  docs/features/headerstransformation.rst
  docs/features/kubernetes.rst
  docs/features/loadbalancer.rst
  docs/features/logging.rst
  docs/features/methodtransformation.rst
  docs/features/middlewareinjection.rst
  docs/features/qualityofservice.rst
  docs/features/ratelimiting.rst
  docs/features/requestaggregation.rst
  docs/features/requestid.rst
  docs/features/routing.rst
  docs/features/servicediscovery.rst
  docs/features/servicefabric.rst
  docs/features/tracing.rst
  docs/features/websockets.rst
  docs/index.rst
  docs/introduction/bigpicture.rst
  docs/introduction/contributing.rst
  docs/introduction/gettingstarted.rst
  docs/introduction/gotchas.rst
  docs/introduction/notsupported.rst
  docs/make.bat
  docs/make.sh
  docs/readme.md
  src/Ocelot/Responder/IErrorsToHttpStatusCodeMapper.cs
Labels: documentation, release

#1755 Documentation release 20.0.1
  .readthedocs.yaml
  Ocelot.sln
  README.md
  ReleaseNotes.md
  build.cake
  docs/Makefile
  docs/autobuild.bat
  docs/building/building.rst
  docs/building/overview.rst
  docs/building/releaseprocess.rst
  docs/building/tests.rst
  docs/conf.py
  docs/favicon.ico
  docs/features/administration.rst
  docs/features/authentication.rst
  docs/features/authorization.rst
  docs/features/caching.rst
  docs/features/claimstransformation.rst
  docs/features/configuration.rst
  docs/features/delegatinghandlers.rst
  docs/features/dependencyinjection.rst
  docs/features/errorcodes.rst
  docs/features/graphql.rst
  docs/features/headerstransformation.rst
  docs/features/kubernetes.rst
  docs/features/loadbalancer.rst
  docs/features/logging.rst
  docs/features/methodtransformation.rst
  docs/features/middlewareinjection.rst
  docs/features/qualityofservice.rst
  docs/features/ratelimiting.rst
  docs/features/requestaggregation.rst
  docs/features/requestid.rst
  docs/features/routing.rst
  docs/features/servicediscovery.rst
  docs/features/servicefabric.rst
  docs/features/tracing.rst
  docs/features/websockets.rst
  docs/index.rst
  docs/introduction/bigpicture.rst
  docs/introduction/contributing.rst
  docs/introduction/gettingstarted.rst
  docs/introduction/gotchas.rst
  docs/introduction/notsupported.rst
  docs/make.bat
  docs/make.sh
  docs/readme.md
  docs/requirements.txt
  src/Ocelot/Responder/IErrorsToHttpStatusCodeMapper.cs
Labels: documentation, release, hotfix

#1173 Find available port in integration tests
  Ocelot.sln
  test/Ocelot.AcceptanceTests/AggregateTests.cs
  test/Ocelot.AcceptanceTests/AuthenticationTests.cs
  test/Ocelot.AcceptanceTests/AuthorizationTests.cs
  test/Ocelot.AcceptanceTests/ButterflyTracingTests.cs
  test/Ocelot.AcceptanceTests/CachingTests.cs
  test/Ocelot.AcceptanceTests/CancelRequestTests.cs
  test/Ocelot.AcceptanceTests/CaseSensitiveRoutingTests.cs
  test/Ocelot.AcceptanceTests/ClaimsToDownstreamPathTests.cs
  test/Ocelot.AcceptanceTests/ClaimsToHeadersForwardingTests.cs
  test/Ocelot.AcceptanceTests/ClaimsToQueryStringForwardingTests.cs
  test/Ocelot.AcceptanceTests/ClientRateLimitTests.cs
  test/Ocelot.AcceptanceTests/ConfigurationInConsulTests.cs
  test/Ocelot.AcceptanceTests/ConsulConfigurationInConsulTests.cs
  test/Ocelot.AcceptanceTests/ConsulWebSocketTests.cs
  test/Ocelot.AcceptanceTests/ContentTests.cs
  test/Ocelot.AcceptanceTests/CustomMiddlewareTests.cs
  test/Ocelot.AcceptanceTests/EurekaServiceDiscoveryTests.cs
  test/Ocelot.AcceptanceTests/GzipTests.cs
  test/Ocelot.AcceptanceTests/HeaderTests.cs
  test/Ocelot.AcceptanceTests/HttpClientCachingTests.cs
  test/Ocelot.AcceptanceTests/HttpDelegatingHandlersTests.cs
  test/Ocelot.AcceptanceTests/HttpTests.cs
  test/Ocelot.AcceptanceTests/LoadBalancerTests.cs
  test/Ocelot.AcceptanceTests/MethodTests.cs
  test/Ocelot.AcceptanceTests/Ocelot.AcceptanceTests.csproj
  test/Ocelot.AcceptanceTests/OpenTracingTests.cs
  test/Ocelot.AcceptanceTests/PollyQoSTests.cs
  test/Ocelot.AcceptanceTests/RandomPortFinder.cs
  test/Ocelot.AcceptanceTests/ReasonPhraseTests.cs
  test/Ocelot.AcceptanceTests/RequestIdTests.cs
  test/Ocelot.AcceptanceTests/ResponseCodeTests.cs
  test/Ocelot.AcceptanceTests/ReturnsErrorTests.cs
  test/Ocelot.AcceptanceTests/RoutingTests.cs
  test/Ocelot.AcceptanceTests/RoutingWithQueryStringTests.cs
  test/Ocelot.AcceptanceTests/ServiceDiscoveryTests.cs
  test/Ocelot.AcceptanceTests/ServiceFabricTests.cs
  test/Ocelot.AcceptanceTests/SslTests.cs
  test/Ocelot.AcceptanceTests/StartupTests.cs
  test/Ocelot.AcceptanceTests/StickySessionsTests.cs
  test/Ocelot.AcceptanceTests/TwoDownstreamServicesTests.cs
  test/Ocelot.AcceptanceTests/UpstreamHostTests.cs
  test/Ocelot.AcceptanceTests/Usings.cs
  test/Ocelot.AcceptanceTests/WebSocketTests.cs
  test/Ocelot.IntegrationTests/AdministrationTests.cs
  test/Ocelot.IntegrationTests/HeaderTests.cs
  test/Ocelot.IntegrationTests/Ocelot.IntegrationTests.csproj
  test/Ocelot.IntegrationTests/ThreadSafeHeadersTests.cs
  test/Ocelot.IntegrationTests/Usings.cs
  test/Ocelot.Testing/Ocelot.Testing.csproj
  test/Ocelot.Testing/PortFinder.cs
Labels: feature, accepted
