Repository ThreeMammals/Ocelot, pull requests merged in 2024-12, with the labels that each got.

#2225 #2064 2065 #2132 #2169 Ampersand vs Slash workaround in `UpstreamTemplatePatternCreator`
  src/Ocelot/Configuration/Creator/UpstreamTemplatePatternCreator.cs
  test/Ocelot.AcceptanceTests/Routing/RoutingTests.cs
  test/Ocelot.UnitTests/Configuration/UpstreamTemplatePatternCreatorTests.cs
Labels: bug, Routing, NET9

#2202 Introducing Ocelot Guru on Gurubase.io
  README.md
Labels: proposal, documentation

#2238 #1876 Replace `JwtSecurityTokenHandler` with `JsonWebTokenHandler` in the Authentication docs according to breaking changes in .NET 8 Auth
  docs/features/authentication.rst
Labels: bug, documentation, Authentication, NET9
