Repository ThreeMammals/Ocelot, pull requests merged in 2024-03, with the labels that each got.

#1769 #749 Bad error handling for `IOException` while reading incoming request body
  src/Ocelot/Errors/OcelotErrorCode.cs
  src/Ocelot/Middleware/HttpItemsExtensions.cs
  src/Ocelot/Request/Mapper/PayloadTooLargeError.cs
  src/Ocelot/Requester/HttpExceptionToErrorMapper.cs
  src/Ocelot/Responder/ErrorsToHttpStatusCodeMapper.cs
  test/Ocelot.AcceptanceTests/Ocelot.AcceptanceTests.csproj
  test/Ocelot.AcceptanceTests/Requester/PayloadTooLargeTests.cs
  test/Ocelot.AcceptanceTests/Steps.cs
  test/Ocelot.UnitTests/Responder/ErrorsToHttpStatusCodeMapperTests.cs
Labels: bug, low, Jan'24

#1826 #1825 #1330 #1287 #1069 Improvements of the multiplexing middleware
  docs/features/requestaggregation.rst
  src/Ocelot/Configuration/Creator/AggregatesCreator.cs
  src/Ocelot/Multiplexer/InMemoryResponseAggregatorFactory.cs
  src/Ocelot/Multiplexer/MultiplexingMiddleware.cs
  src/Ocelot/Multiplexer/ServiceLocatorDefinedAggregatorProvider.cs
  test/Ocelot.AcceptanceTests/AggregateTests.cs
  test/Ocelot.AcceptanceTests/Steps.cs
  test/Ocelot.UnitTests/Multiplexing/MultiplexingMiddlewareTests.cs
Labels: proposal, Aggregation, Jan'24

#1989 Sync 'develop' to 'release/23.1'
  ReleaseNotes.md
  docs/conf.py
  docs/features/requestaggregation.rst
  docs/index.rst
Labels: gitflow, Jan'24

#1227 #1216 #1955 #1956 Overloaded `AddOcelot` method to support merging of configuration files to memory
  docs/features/administration.rst
  docs/features/configuration.rst
  docs/features/dependencyinjection.rst
  docs/features/qualityofservice.rst
  docs/features/requestaggregation.rst
  docs/features/tracing.rst
  docs/introduction/gettingstarted.rst
  src/Ocelot/Configuration/Repository/DiskFileConfigurationRepository.cs
  src/Ocelot/DependencyInjection/ConfigurationBuilderExtensions.cs
  src/Ocelot/DependencyInjection/MergeOcelotJson.cs
  test/Ocelot.AcceptanceTests/Authentication/AuthenticationSteps.cs
  test/Ocelot.AcceptanceTests/ConfigurationMergeTests.cs
  test/Ocelot.AcceptanceTests/Steps.cs
  test/Ocelot.AcceptanceTests/TestConfiguration.cs
  test/Ocelot.UnitTests/Configuration/DiskFileConfigurationRepositoryTests.cs
  test/Ocelot.UnitTests/DependencyInjection/ConfigurationBuilderExtensionsTests.cs
  test/Ocelot.UnitTests/FileUnitTest.cs
  test/Ocelot.UnitTests/Multiplexing/MultiplexingMiddlewareTests.cs
  test/Ocelot.UnitTests/UnitTest.cs
Labels: feature, Configuration, Feb'24

#1986 #1518 Create building the `IServiceCollection`
  src/Ocelot/DependencyInjection/ConfigurationBuilderExtensions.cs
  src/Ocelot/DependencyInjection/ServiceCollectionExtensions.cs
  test/Ocelot.UnitTests/DependencyInjection/ConfigurationBuilderExtensionsTests.cs
  test/Ocelot.UnitTests/DependencyInjection/OcelotBuilderTests.cs
  test/Ocelot.UnitTests/DependencyInjection/ServiceCollectionExtensionsTests.cs
  test/Ocelot.UnitTests/Ocelot.UnitTests.csproj
Labels: bug, proposal, hotfix, Configuration, Feb'24

#1927 #683 Validate placeholder duplicates in path templates
  ReleaseNotes.md
  docs/features/servicefabric.rst
  src/Ocelot/Configuration/Validator/FileConfigurationFluentValidator.cs
  test/Ocelot.AcceptanceTests/AggregateTests.cs
  test/Ocelot.AcceptanceTests/ClaimsToDownstreamPathTests.cs
  test/Ocelot.AcceptanceTests/RoutingTests.cs
  test/Ocelot.AcceptanceTests/ServiceFabricTests.cs
  test/Ocelot.IntegrationTests/AdministrationTests.cs
  test/Ocelot.UnitTests/Configuration/Validation/FileConfigurationFluentValidatorTests.cs
Labels: bug, Feb'24

#2022 Release 23.2 artifacts | +semver: minor
  ReleaseNotes.md
  docs/conf.py
  docs/features/dependencyinjection.rst
  docs/index.rst
Labels: release, Feb'24
