Repository ThreeMammals/Ocelot, pull requests merged in 2024-11, with the labels that each got.

#1403 Override the `ClaimsToHeadersMiddleware` by the `OcelotPipelineConfiguration` settings
  docs/features/middlewareinjection.rst
  src/Ocelot/Authentication/Middleware/AuthenticationMiddlewareExtensions.cs
  src/Ocelot/Authorization/Middleware/AuthorizationMiddlewareMiddlewareExtensions.cs
  src/Ocelot/Headers/Middleware/ClaimsToHeadersMiddlewareExtensions.cs
  src/Ocelot/Middleware/OcelotPipelineConfiguration.cs
  src/Ocelot/Middleware/OcelotPipelineExtensions.cs
Labels: proposal, Middlewares, Configuration, Autumn'24

#1307 #1305 Populate RateLimiting headers in the original `HttpContext` response accessed via `IHttpContextAccessor`
  src/Ocelot/Configuration/RateLimitOptions.cs
  src/Ocelot/RateLimiting/Middleware/RateLimitingMiddleware.cs
  src/Ocelot/RateLimiting/RateLimitingHeaders.cs
  test/Ocelot.AcceptanceTests/RateLimiting/ClientRateLimitingTests.cs
  test/Ocelot.AcceptanceTests/RateLimiting/RateLimitingSteps.cs
  test/Ocelot.AcceptanceTests/ServiceDiscovery/ConsulConfigurationInConsulTests.cs
  test/Ocelot.AcceptanceTests/Steps.cs
  test/Ocelot.UnitTests/RateLimiting/RateLimitingMiddlewareTests.cs
Labels: bug, proposal, Rate Limiting, Autumn'24

#1348 Best practices for regular expressions versus `Regex` performance review
  src/Ocelot/Authorization/ClaimsAuthorizer.cs
  src/Ocelot/Configuration/Creator/UpstreamHeaderTemplatePatternCreator.cs
  src/Ocelot/Configuration/Parser/ClaimToThingConfigurationParser.cs
  src/Ocelot/Configuration/Validator/FileConfigurationFluentValidator.cs
  src/Ocelot/Configuration/Validator/RouteFluentValidator.cs
  src/Ocelot/DependencyInjection/ConfigurationBuilderExtensions.cs
  src/Ocelot/DownstreamUrlCreator/Middleware/DownstreamUrlCreatorMiddleware.cs
  src/Ocelot/Infrastructure/ConfigAwarePlaceholders.cs
  src/Ocelot/Infrastructure/RegexGlobal.cs
  src/Ocelot/Values/UpstreamHeaderTemplate.cs
  src/Ocelot/Values/UpstreamPathTemplate.cs
  test/Ocelot.AcceptanceTests/ServiceDiscovery/ConsulServiceDiscoveryTests.cs
Labels: proposal, Core, Autumn'24

#2200 #2199 Adding support of placeholder matching between slashes👍
  docs/features/routing.rst
  src/Ocelot/DownstreamRouteFinder/UrlMatcher/UrlPathPlaceholderNameAndValueFinder.cs
  test/Ocelot.AcceptanceTests/Routing/RoutingTests.cs
  test/Ocelot.Testing/FileRouteExtensions.cs
  test/Ocelot.UnitTests/DownstreamRouteFinder/UrlMatcher/UrlPathPlaceholderNameAndValueFinderTests.cs
Labels: bug, proposal, high, Routing, Autumn'24

#2206 Release 23.4 | Routing Update | MGGA release | +semver: minor
  ReleaseNotes.md
  build.cake
  docs/conf.py
  docs/features/routing.rst
  docs/index.rst
  docs/releasenotes.rst
Labels: release, Autumn'24

#2170 #2165 Global configuration `SecurityOptions`
  src/Ocelot/Configuration/Creator/ISecurityOptionsCreator.cs
  src/Ocelot/Configuration/Creator/RoutesCreator.cs
  src/Ocelot/Configuration/Creator/SecurityOptionsCreator.cs
  src/Ocelot/Configuration/File/FileGlobalConfiguration.cs
  src/Ocelot/Configuration/File/FileSecurityOptions.cs
  src/Ocelot/Configuration/SecurityOptions.cs
  src/Ocelot/Security/IPSecurity/IPSecurityPolicy.cs
  src/Ocelot/Security/ISecurityPolicy.cs
  src/Ocelot/Security/Middleware/SecurityMiddleware.cs
  test/Ocelot.AcceptanceTests/Security/SecurityOptionsTests.cs
  test/Ocelot.UnitTests/Configuration/RoutesCreatorTests.cs
  test/Ocelot.UnitTests/Configuration/SecurityOptionsCreatorTests.cs
  test/Ocelot.UnitTests/Security/IPSecurityPolicyTests.cs
  test/Ocelot.UnitTests/Security/SecurityMiddlewareTests.cs
Labels: Security Options, Configuration, Autumn'24

#2210 Placeholders matching must work if RouteIsCaseSensitive = false
  src/Ocelot/DownstreamRouteFinder/UrlMatcher/UrlPathPlaceholderNameAndValueFinder.cs
  test/Ocelot.AcceptanceTests/Routing/RoutingTests.cs
  test/Ocelot.UnitTests/DownstreamRouteFinder/UrlMatcher/UrlPathPlaceholderNameAndValueFinderTests.cs
Labels: bug, Routing, Nov'24

#2213 #2212 Incorrect calculation of placeholders, only the last placeholder should be allowed to match several segments
  src/Ocelot/DownstreamRouteFinder/UrlMatcher/UrlPathPlaceholderNameAndValueFinder.cs
  test/Ocelot.AcceptanceTests/Routing/RoutingTests.cs
  test/Ocelot.UnitTests/DownstreamRouteFinder/UrlMatcher/UrlPathPlaceholderNameAndValueFinderTests.cs
Labels: hotfix, Routing, Nov'24

#2220 Review Dependabot alerts for `net6.0` and `net7.0` target frameworks and bump all packages
  src/Ocelot.Administration/Ocelot.Administration.csproj
  src/Ocelot.Cache.CacheManager/Ocelot.Cache.CacheManager.csproj
  src/Ocelot.Provider.Consul/Ocelot.Provider.Consul.csproj
  src/Ocelot.Provider.Polly/Ocelot.Provider.Polly.csproj
  src/Ocelot/Infrastructure/RegexGlobal.cs
  src/Ocelot/Ocelot.csproj
  src/Ocelot/Responses/ErrorResponse.cs
  src/Ocelot/Responses/ErrorResponseGeneric.cs
  src/Ocelot/Responses/OkResponse.cs
  src/Ocelot/Responses/OkResponseGeneric.cs
  src/Ocelot/Responses/Response.cs
  src/Ocelot/Responses/ResponseGeneric.cs
  test/Ocelot.AcceptanceTests/Ocelot.AcceptanceTests.csproj
  test/Ocelot.AcceptanceTests/Routing/RoutingTests.cs
  test/Ocelot.Benchmarks/Ocelot.Benchmarks.csproj
  test/Ocelot.IntegrationTests/Ocelot.IntegrationTests.csproj
  test/Ocelot.ManualTest/Ocelot.ManualTest.csproj
  test/Ocelot.Testing/Ocelot.Testing.csproj
  test/Ocelot.UnitTests/Ocelot.UnitTests.csproj
Labels: hotfix, dependencies, Nov'24

#2221 Release 23.4.2 | End of .NET 6, 7 Support | November'24 release | +semver: patch
  ReleaseNotes.md
  docs/index.rst
  docs/releasenotes.rst
Labels: release, hotfix, Nov'24

#2222 #2145 Refactor Infrastructure `StringExtensions`
  src/Ocelot.Provider.Consul/DefaultConsulServiceBuilder.cs
  src/Ocelot/Infrastructure/Extensions/StringExtensions.cs
  test/Ocelot.UnitTests/Infrastructure/StringExtensionsTests.cs
Labels: bug, proposal, Core, NET9
