Repository ThreeMammals/Ocelot, pull requests merged in 2024-05, with the labels that each got.

#1592 #1590 Use correct interval for request counting
  docs/features/ratelimiting.rst
  src/Ocelot/DependencyInjection/Features.cs
  src/Ocelot/DependencyInjection/OcelotBuilder.cs
  src/Ocelot/Middleware/OcelotPipelineExtensions.cs
  src/Ocelot/RateLimit/ClientRateLimitProcessor.cs
  src/Ocelot/RateLimit/ClientRequestIdentity.cs
  src/Ocelot/RateLimit/DistributedCacheRateLimitCounterHandler.cs
  src/Ocelot/RateLimit/IRateLimitCounterHandler.cs
  src/Ocelot/RateLimit/MemoryCacheRateLimitCounterHandler.cs
  src/Ocelot/RateLimit/Middleware/RateLimitMiddlewareExtensions.cs
  src/Ocelot/RateLimit/RateLimitCore.cs
  src/Ocelot/RateLimit/RateLimitCounter.cs
  src/Ocelot/RateLimit/RateLimitHeaders.cs
  src/Ocelot/RateLimiting/ClientRequestIdentity.cs
  src/Ocelot/RateLimiting/DistributedCacheRateLimitStorage.cs
  src/Ocelot/RateLimiting/IRateLimitStorage.cs
  src/Ocelot/RateLimiting/IRateLimiting.cs
  src/Ocelot/RateLimiting/MemoryCacheRateLimitStorage.cs
  src/Ocelot/RateLimiting/Middleware/RateLimitingMiddleware.cs
  src/Ocelot/RateLimiting/Middleware/RateLimitingMiddlewareExtensions.cs
  src/Ocelot/RateLimiting/QuotaExceededError.cs
  src/Ocelot/RateLimiting/RateLimitCounter.cs
  src/Ocelot/RateLimiting/RateLimitHeaders.cs
  src/Ocelot/RateLimiting/RateLimiting.cs
  test/Ocelot.AcceptanceTests/ClientRateLimitTests.cs
  test/Ocelot.AcceptanceTests/RateLimiting/ClientRateLimitingTests.cs
  test/Ocelot.UnitTests/RateLimit/ClientRateLimitMiddlewareTests.cs
  test/Ocelot.UnitTests/RateLimiting/RateLimitingMiddlewareTests.cs
  test/Ocelot.UnitTests/RateLimiting/RateLimitingTests.cs
Labels: bug, high, Rate Limiting, Mar-Apr'24

#1843 #738 #1990 Route Metadata as custom properties
  docs/features/configuration.rst
  docs/features/metadata.rst
  docs/index.rst
  src/Ocelot/Configuration/Builder/DownstreamRouteBuilder.cs
  src/Ocelot/Configuration/Builder/MetadataOptionsBuilder.cs
  src/Ocelot/Configuration/Creator/DefaultMetadataCreator.cs
  src/Ocelot/Configuration/Creator/DynamicsCreator.cs
  src/Ocelot/Configuration/Creator/IMetadataCreator.cs
  src/Ocelot/Configuration/Creator/RoutesCreator.cs
  src/Ocelot/Configuration/DownstreamRoute.cs
  src/Ocelot/Configuration/File/FileDynamicRoute.cs
  src/Ocelot/Configuration/File/FileGlobalConfiguration.cs
  src/Ocelot/Configuration/File/FileMetadataOptions.cs
  src/Ocelot/Configuration/File/FileRoute.cs
  src/Ocelot/Configuration/MetadataOptions.cs
  src/Ocelot/DependencyInjection/Features.cs
  src/Ocelot/DependencyInjection/OcelotBuilder.cs
  src/Ocelot/Metadata/DownstreamRouteExtensions.cs
  test/Ocelot.AcceptanceTests/EurekaServiceDiscoveryTests.cs
  test/Ocelot.AcceptanceTests/HttpDelegatingHandlersTests.cs
  test/Ocelot.AcceptanceTests/Metadata/DownstreamMetadataTests.cs
  test/Ocelot.AcceptanceTests/Steps.cs
  test/Ocelot.IntegrationTests/AdministrationTests.cs
  test/Ocelot.ManualTest/CustomOcelotMiddleware.cs
  test/Ocelot.ManualTest/Program.cs
  test/Ocelot.ManualTest/appsettings.json
  test/Ocelot.ManualTest/ocelot.json
  test/Ocelot.UnitTests/Configuration/DefaultMetadataCreatorTests.cs
  test/Ocelot.UnitTests/Configuration/DownstreamRouteExtensionsTests.cs
  test/Ocelot.UnitTests/Configuration/DynamicsCreatorTests.cs
  test/Ocelot.UnitTests/Configuration/RoutesCreatorTests.cs
Labels: feature, 2023, Configuration, Routing

#2074 Ocelot NuGet package README file
  src/Ocelot/Ocelot.csproj
Labels: documentation, Spring'24

#2079 #2078 V7 polly syntax not longer supported
  docs/features/qualityofservice.rst
  src/Ocelot.Provider.Polly/Ocelot.Provider.Polly.csproj
  src/Ocelot.Provider.Polly/OcelotBuilderExtensions.cs
  src/Ocelot.Provider.Polly/Usings.cs
  src/Ocelot.Provider.Polly/v7/IPollyQoSProvider.cs
  src/Ocelot.Provider.Polly/v7/OcelotBuilderExtensions.cs
  src/Ocelot.Provider.Polly/v7/PollyPoliciesDelegatingHandler.cs
  src/Ocelot.Provider.Polly/v7/PollyPolicyWrapper.cs
  src/Ocelot.Provider.Polly/v7/PollyQoSProvider.cs
  test/Ocelot.UnitTests/Ocelot.UnitTests.csproj
  test/Ocelot.UnitTests/Polly/PollyPoliciesDelegatingHandlerTests.cs
  test/Ocelot.UnitTests/Polly/PollyQoSProviderTests.cs
Labels: small effort, QoS, Spring'24
