Repository ThreeMammals/Ocelot, pull requests merged in 2024-10, with the labels that each got.

#2161 Release 23.3.4 artifacts | +semver: patch
  ReleaseNotes.md
  build.cake
  docs/index.rst
  samples/OpenTracing/Ocelot.Samples.OpenTracing.csproj
  src/Ocelot.Administration/Ocelot.Administration.csproj
  src/Ocelot.Cache.CacheManager/Ocelot.Cache.CacheManager.csproj
  src/Ocelot.Provider.Consul/Ocelot.Provider.Consul.csproj
  src/Ocelot.Provider.Eureka/Ocelot.Provider.Eureka.csproj
  src/Ocelot.Provider.Kubernetes/Ocelot.Provider.Kubernetes.csproj
  src/Ocelot.Provider.Polly/Ocelot.Provider.Polly.csproj
  src/Ocelot.Provider.Polly/OcelotResiliencePipelineKey.cs
  src/Ocelot.Tracing.Butterfly/Ocelot.Tracing.Butterfly.csproj
  src/Ocelot.Tracing.OpenTracing/Ocelot.Tracing.OpenTracing.csproj
  src/Ocelot/Configuration/Validator/RouteFluentValidator.cs
  src/Ocelot/DependencyInjection/OcelotBuilder.cs
  src/Ocelot/Ocelot.csproj
  src/Ocelot/RateLimiting/RateLimiting.cs
  test/Ocelot.AcceptanceTests/Ocelot.AcceptanceTests.csproj
  test/Ocelot.Benchmarks/Ocelot.Benchmarks.csproj
  test/Ocelot.IntegrationTests/AdministrationTests.cs
  test/Ocelot.IntegrationTests/CacheManagerTests.cs
  test/Ocelot.IntegrationTests/HeaderTests.cs
  test/Ocelot.IntegrationTests/Ocelot.IntegrationTests.csproj
  test/Ocelot.IntegrationTests/ThreadSafeHeadersTests.cs
  test/Ocelot.IntegrationTests/Usings.cs
  test/Ocelot.ManualTest/Ocelot.ManualTest.csproj
  test/Ocelot.UnitTests/Ocelot.UnitTests.csproj
  test/Ocelot.UnitTests/Polly/PollyResiliencePipelineDelegatingHandlerTests.cs
Labels: release

#2172 Release 23.3.5 | Documentation patch for HTML and PDF document layouts | +semver: patch
  ReleaseNotes.md
  build.cake
  docs/conf.py
  docs/features/ratelimiting.rst
  docs/index.rst
  docs/introduction/contributing.rst
  docs/releasenotes.rst
Labels: release, hotfix, Oct'24

#2179 #2178 DI service resolution from scoped `HttpContext` request services for the `IConsulServiceBuilder` service
  src/Ocelot.Provider.Consul/ConsulProviderFactory.cs
  test/Ocelot.AcceptanceTests/AggregateTests.cs
  test/Ocelot.AcceptanceTests/Configuration/ConfigurationInConsulTests.cs
  test/Ocelot.AcceptanceTests/ServiceDiscovery/ConsulConfigurationInConsulTests.cs
  test/Ocelot.AcceptanceTests/ServiceDiscovery/ConsulServiceDiscoveryTests.cs
  test/Ocelot.AcceptanceTests/ServiceDiscovery/ConsulWebSocketTests.cs
  test/Ocelot.AcceptanceTests/Steps.cs
  test/Ocelot.UnitTests/Consul/ConsulProviderFactoryTests.cs
  test/Ocelot.UnitTests/Consul/ProviderFactoryTests.cs
Labels: Service Discovery, hotfix, Consul, Oct'24

#2180 #977 Enable validation of DI scopes in `Kube` and `PollKube` discovery providers
  src/Ocelot.Provider.Kubernetes/Kube.cs
  src/Ocelot.Provider.Kubernetes/KubeServiceCreator.cs
  src/Ocelot.Provider.Kubernetes/KubernetesProviderFactory.cs
  src/Ocelot.Provider.Kubernetes/Ocelot.Provider.Kubernetes.csproj
  src/Ocelot.Provider.Kubernetes/OcelotBuilderExtensions.cs
  test/Ocelot.AcceptanceTests/ServiceDiscovery/KubernetesServiceDiscoveryTests.cs
  test/Ocelot.UnitTests/Kubernetes/KubeServiceCreatorTests.cs
  test/Ocelot.UnitTests/Kubernetes/KubeTests.cs
  test/Ocelot.UnitTests/Kubernetes/KubernetesProviderFactoryTests.cs
  test/Ocelot.UnitTests/Kubernetes/OcelotBuilderExtensionsTests.cs
Labels: Service Discovery, hotfix, Kubernetes, Oct'24

#2187 Correct broken references in `servicediscovery.rst`
  docs/features/servicediscovery.rst
Labels: documentation, Service Discovery, Oct'24

#2185 Release 23.3.6 | v23.3.4 Hotfixes | October'24 release | +semver: patch
  LICENSE.md
  ReleaseNotes.md
  build.cake
  docs/building/devprocess.rst
  docs/building/releaseprocess.rst
  docs/features/kubernetes.rst
  docs/index.rst
  docs/releasenotes.rst
  src/Ocelot.Administration/Ocelot.Administration.csproj
  src/Ocelot.Cache.CacheManager/Ocelot.Cache.CacheManager.csproj
  src/Ocelot.Provider.Consul/Ocelot.Provider.Consul.csproj
  src/Ocelot.Provider.Eureka/Ocelot.Provider.Eureka.csproj
  src/Ocelot.Provider.Kubernetes/Ocelot.Provider.Kubernetes.csproj
  src/Ocelot.Provider.Polly/Ocelot.Provider.Polly.csproj
  src/Ocelot.Tracing.Butterfly/Ocelot.Tracing.Butterfly.csproj
  src/Ocelot.Tracing.OpenTracing/Ocelot.Tracing.OpenTracing.csproj
  src/Ocelot/Ocelot.csproj
Labels: release, hotfix, Oct'24
