Repository ThreeMammals/Ocelot, pull requests merged in 2024-04, with the labels that each got.

#2025 Sync 'develop' to 'release/23.2'
  ReleaseNotes.md
  docs/conf.py
  docs/features/dependencyinjection.rst
  docs/index.rst
Labels: gitflow, Feb'24

#2032 #2031 Don't validate placeholders in templates
  src/Ocelot/Configuration/Validator/FileConfigurationFluentValidator.cs
  test/Ocelot.UnitTests/Configuration/Validation/FileConfigurationFluentValidatorTests.cs
Labels: bug, hotfix, high, Configuration, Feb'24

#1673 #1672 Custom Default Version Policy
  .circleci/config.yml
  docs/features/configuration.rst
  docs/features/kubernetes.rst
  docs/make.bat
  src/Ocelot/Configuration/Builder/DownstreamRouteBuilder.cs
  src/Ocelot/Configuration/Builder/RouteBuilder.cs
  src/Ocelot/Configuration/Creator/ConfigurationCreator.cs
  src/Ocelot/Configuration/Creator/DynamicsCreator.cs
  src/Ocelot/Configuration/Creator/HttpVersionPolicyCreator.cs
  src/Ocelot/Configuration/Creator/IVersionPolicyCreator.cs
  src/Ocelot/Configuration/Creator/RoutesCreator.cs
  src/Ocelot/Configuration/Creator/VersionPolicies.cs
  src/Ocelot/Configuration/DownstreamRoute.cs
  src/Ocelot/Configuration/File/FileCacheOptions.cs
  src/Ocelot/Configuration/File/FileDynamicRoute.cs
  src/Ocelot/Configuration/File/FileGlobalConfiguration.cs
  src/Ocelot/Configuration/File/FileRoute.cs
  src/Ocelot/Configuration/IInternalConfiguration.cs
  src/Ocelot/Configuration/InternalConfiguration.cs
  src/Ocelot/Configuration/Validator/RouteFluentValidator.cs
  src/Ocelot/DependencyInjection/OcelotBuilder.cs
  src/Ocelot/Request/Mapper/RequestMapper.cs
  test/Ocelot.AcceptanceTests/DefaultVersionPolicyTests.cs
  test/Ocelot.AcceptanceTests/PollyQoSTests.cs
  test/Ocelot.AcceptanceTests/ReturnsErrorTests.cs
  test/Ocelot.Benchmarks/DownstreamRouteFinderMiddlewareBenchmarks.cs
  test/Ocelot.IntegrationTests/AdministrationTests.cs
  test/Ocelot.UnitTests/Configuration/ConfigurationCreatorTests.cs
  test/Ocelot.UnitTests/Configuration/DynamicsCreatorTests.cs
  test/Ocelot.UnitTests/Configuration/FileConfigurationSetterTests.cs
  test/Ocelot.UnitTests/Configuration/FileInternalConfigurationCreatorTests.cs
  test/Ocelot.UnitTests/Configuration/HttpVersionPolicyCreatorTests.cs
  test/Ocelot.UnitTests/Configuration/InMemoryConfigurationRepositoryTests.cs
  test/Ocelot.UnitTests/Configuration/RoutesCreatorTests.cs
  test/Ocelot.UnitTests/Configuration/Validation/FileConfigurationFluentValidatorTests.cs
  test/Ocelot.UnitTests/DownstreamRouteFinder/DownstreamRouteCreatorTests.cs
  test/Ocelot.UnitTests/DownstreamRouteFinder/DownstreamRouteFinderMiddlewareTests.cs
  test/Ocelot.UnitTests/DownstreamRouteFinder/DownstreamRouteFinderTests.cs
  test/Ocelot.UnitTests/DownstreamRouteFinder/DownstreamRouteProviderFactoryTests.cs
  test/Ocelot.UnitTests/DownstreamUrlCreator/DownstreamUrlCreatorMiddlewareTests.cs
  test/Ocelot.UnitTests/Errors/ExceptionHandlerMiddlewareTests.cs
  test/Ocelot.UnitTests/Eureka/EurekaMiddlewareConfigurationProviderTests.cs
  test/Ocelot.UnitTests/LoadBalancer/LoadBalancerMiddlewareTests.cs
  test/Ocelot.UnitTests/Polly/PollyQoSProviderTests.cs
Labels: feature, 2023

#2050 #2039 Buffer request body and copy the body to downstreams during multiplexing
  docs/features/requestaggregation.rst
  src/Ocelot/Multiplexer/MultiplexingMiddleware.cs
  test/Ocelot.AcceptanceTests/AggregateTests.cs
  test/Ocelot.AcceptanceTests/Steps.cs
  test/Ocelot.UnitTests/Multiplexing/MultiplexingMiddlewareTests.cs
Labels: bug, Aggregation, Mar-Apr'24
