Repository ThreeMammals/Ocelot, pull requests merged in 2025-07, with the labels that each got.

#2302 #2299 Encapsulate `ServiceAccountPath` as a protected property of the factory to stabilize `KubeApiClient` creation in the Kubernetes provider
  .github/workflows/develop.yml
  .github/workflows/pr.yml
  src/Ocelot.Provider.Kubernetes/Interfaces/IKubeApiClientFactory.cs
  src/Ocelot.Provider.Kubernetes/KubeApiClientFactory.cs
  test/Ocelot.UnitTests/Kubernetes/FakeKubeApiClientFactory.cs
  test/Ocelot.UnitTests/Kubernetes/KubeApiClientFactoryTests.cs
  test/Ocelot.UnitTests/Kubernetes/KubernetesProviderFactoryTests.cs
Labels: bug, Service Discovery, hotfix, high, Kubernetes, NET9

#2081 #2080 Add new `FailureRatio` and `SamplingDuration` V8 parameters to fine-tune Polly's circuit-breaker strategy via route-level and global QoS options
  .gitignore
  docs/features/configuration.rst
  docs/features/qualityofservice.rst
  src/Ocelot.Provider.Polly/CircuitBreakerStrategy.cs
  src/Ocelot.Provider.Polly/PollyQoSResiliencePipelineProvider.cs
  src/Ocelot.Provider.Polly/PollyResiliencePipelineDelegatingHandler.cs
  src/Ocelot.Provider.Polly/TimeoutStrategy.cs
  src/Ocelot/Configuration/Builder/QoSOptionsBuilder.cs
  src/Ocelot/Configuration/Creator/IQoSOptionsCreator.cs
  src/Ocelot/Configuration/Creator/QoSOptionsCreator.cs
  src/Ocelot/Configuration/Creator/RoutesCreator.cs
  src/Ocelot/Configuration/DownstreamRoute.cs
  src/Ocelot/Configuration/File/FileQoSOptions.cs
  src/Ocelot/Configuration/QoSOptions.cs
  src/Ocelot/DownstreamRouteFinder/Finder/DownstreamRouteCreator.cs
  src/Ocelot/Requester/DelegatingHandlerFactory.cs
  src/Ocelot/Requester/MessageInvokerPool.cs
  test/Ocelot.AcceptanceTests/Configuration/TimeoutTests.cs
  test/Ocelot.AcceptanceTests/PollyQoSTests.cs
  test/Ocelot.UnitTests/Configuration/ConfigurationCreatorTests.cs
  test/Ocelot.UnitTests/Configuration/DownstreamRouteExtensionsTests.cs
  test/Ocelot.UnitTests/Configuration/DownstreamRouteTests.cs
  test/Ocelot.UnitTests/Configuration/FileModels/FileQoSOptionsTests.cs
  test/Ocelot.UnitTests/Configuration/QoSOptionsCreatorTests.cs
  test/Ocelot.UnitTests/Configuration/QoSOptionsTests.cs
  test/Ocelot.UnitTests/Configuration/RoutesCreatorTests.cs
  test/Ocelot.UnitTests/DownstreamRouteFinder/DownstreamRouteCreatorTests.cs
  test/Ocelot.UnitTests/Polly/CircuitBreakerStrategyTests.cs
  test/Ocelot.UnitTests/Polly/OcelotBuilderExtensionsTests.cs
  test/Ocelot.UnitTests/Polly/PollyQoSResiliencePipelineProviderTests.cs
  test/Ocelot.UnitTests/Polly/PollyResiliencePipelineDelegatingHandlerTests.cs
  test/Ocelot.UnitTests/Polly/TimeoutStrategyTests.cs
  test/Ocelot.UnitTests/Requester/MessageInvokerCacheKeyTests.cs
  test/Ocelot.UnitTests/Requester/MessageInvokerPoolTests.cs
Labels: feature, in progress, QoS, Configuration, Spring'25

#1659 #1658 Add global configuration for Headers Transformation
  docs/features/configuration.rst
  docs/features/headerstransformation.rst
  src/Ocelot/Configuration/Creator/HeaderFindAndReplaceCreator.cs
  src/Ocelot/Configuration/Creator/IHeaderFindAndReplaceCreator.cs
  src/Ocelot/Configuration/Creator/RoutesCreator.cs
  src/Ocelot/Configuration/File/FileGlobalConfiguration.cs
  src/Ocelot/Configuration/File/FileRoute.cs
  src/Ocelot/Configuration/HeaderFindAndReplace.cs
  src/Ocelot/DownstreamUrlCreator/Middleware/DownstreamUrlCreatorMiddleware.cs
  src/Ocelot/Infrastructure/Placeholders.cs
  test/Ocelot.AcceptanceTests/HeaderTests.cs
  test/Ocelot.AcceptanceTests/Transformations/HeaderTests.cs
  test/Ocelot.UnitTests/Configuration/FileModels/FileRouteTests.cs
  test/Ocelot.UnitTests/Configuration/HeaderFindAndReplaceCreatorTests.cs
  test/Ocelot.UnitTests/Configuration/HeaderFindAndReplaceTests.cs
  test/Ocelot.UnitTests/Configuration/RoutesCreatorTests.cs
  test/Ocelot.UnitTests/Headers/AddHeadersToRequestPlainTests.cs
  test/Ocelot.UnitTests/Infrastructure/PlaceholdersTests.cs
Labels: feature, Headers Transform, Spring'25
